# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.eggs/

# Jupyter
.ipynb_checkpoints/

# Virtual envs
venv/
.env
env/
myenv/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Misc
*.sqlite3
*.db
*.log
